.job-status-badge {
  font-size: 0.75rem;
  line-height: 1em;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 1em;
  color: #fff;
  background-color: #52525b; // idle default
  pointer-events: auto;

  &.boosted {
    background-color: #16a34a;
  }

  &.penalized {
    background-color: #dc2626;
  }

  &.working {
    background-color: #3b82f6;
  }
}