.recruitment-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--color-surface-low);
  color: var(--color-text);
  padding-bottom: 96px;
}

.recruitment-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  pointer-events: none;

  > div {
    width: 100%;
    height: 100%;
  }

  .model-display {
    width: 100%;
    height: 100%;
  }

  .recruitment-overlay {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    padding: 1rem;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    pointer-events: all;
    
    button {
      width: 100%;
    }
  }

  .requirement-list {
    position: static;
    width: 100%;
    padding: 0;

    h4 {
      margin: 0;
      font-size: 0.875rem;
      font-weight: 600;
      margin-bottom: 4px;
      color: var(--color-text);
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 0.75rem;
        margin-bottom: 4px;

        &.has-enough {
          color: #a3e635;
        }

        &.not-enough {
          color: #f87171;
        }
      }
    }
  }
}

.matoran-selector {
  border-top: 2px solid var(--color-surface-high);
}
