.encounter {
  border: 1px solid var(--color-border-muted);
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: var(--color-surface-high);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 1rem;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    gap: 1rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    flex: 1;
    text-align: left;
  }

  .difficulty {
    font-size: 0.875rem;
    color: var(--color-text-muted);
  }

  .description {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }

  .loot {
    font-size: 0.875rem;
    color: var(--theme-element-accent);
  }

  .enemy-avatar {
    width: 100%;
    max-width: 384px;
  }
}

.battle {
  display: flex;
  flex-direction: column;
  &-prep {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 2rem 5rem;
    background-color: var(--color-surface-low);
    border-radius: 0.75rem;

    h2 {
      margin: 0;
      margin-bottom: 1rem;
    }

    p {
      margin: 0;
      text-align: left;
    }

    &__selected-team {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      margin-bottom: 1rem;
    }

    &__team-selector {
      transition:
        max-height 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
      max-height: 400px;

      &.hidden {
        max-height: 0;
        opacity: 0;
      }
    }

    .character-card {
      padding: 0.5rem;
      cursor: pointer;

      &.focused {
        box-shadow: none;
      }
    }

    .card-header {
      font-size: 1rem;
    }

    .level-label {
      font-size: 0.8rem;
    }

    .matoran-avatar {
      margin-top: 0;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
  }

  &-arena {
    anchor-name: --canvas-anchor;
    display: flex;
    flex: 1;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;

    .enemy-side,
    .ally-side {
      flex: 1;
    }

    .enemy-list,
    .toa-team {
      display: flex;
      gap: 1rem;
      flex-wrap: nowrap;
      justify-content: center;
    }

    .enemy-list {
      position: fixed;
      left: 0;
      width: 100%;
      padding: 0 1rem;
      top: 5rem;
    }

    .toa-team {
      position: fixed;
      bottom: 106px;
      left: 0;
      padding: 0 1rem;
      height: 176px;
      width: 100%;

      .card-header {
        display: none;
      }
    }

    .enemy-card,
    .character-card {
      background: #222;
      border-radius: 8px;
      padding: 0.5rem;
      text-align: center;
      flex: 1;
      position: relative;
      text-transform: capitalize;
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 140px;

      &.disabled {
        pointer-events: none;
        touch-action: none;
        opacity: 0.5;
      }

      .cooldown-fill {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: -1;
        transition: height 0.2s ease;
      }
    }

    .hp-bar {
      font-size: 0.8rem;
    }
  }
}

.damage-popup {
  position: absolute;
  left: 50%;
  pointer-events: none;
  touch-action: none;
  z-index: 2;
  transform: translate(-50%, 0);
  color: red;
  font-weight: bold;

  &.healing {
    color: #00ff00; // Bright green for healing
  }
}

@keyframes float-up {
  0% {
    opacity: 1;
    transform: translate(-50%, 0) scale(0.5);
  }

  50% {
    transform: translate(-50%, -20px) scale(3);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -40px);
  }
}

.float-up {
  top: 0;
  animation: float-up 0.8s ease-out forwards;
}

@keyframes float-down {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, 20px) scale(3);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 40px);
  }
}

.float-down {
  bottom: 0;
  animation: float-down 0.8s ease-out forwards;
}
