.scroll-row {
  --card-width: 120px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--card-width);
  grid-auto-rows: 1fr;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;

  .card {
    width: auto;
    min-width: var(--card-width);
    scroll-snap-align: start;
  }
}

.card {
  background: var(--color-surface-high);
  border: 2px solid var(--color-border-muted);
  border-radius: 12px;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 0 4px var(--color-text-muted);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px var(--theme-element-glow-transparent);
  }

  .mask-preview {
    height: 100px;
    font-size: 2rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name {
    font-weight: bold;
    color: var(--theme-element-primary);
  }

  .cost {
    font-size: 0.85rem;
    color: var(--color-text-muted);
  }
}
