.element-tag {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  color: #242424;
  padding: 0.3em 0.8em;
  border-radius: 999px;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--theme-element-glow);

  img {
    filter: invert(1);
    height: 1em;
    width: 1em;
  }
}
