.character-detail-container {
  padding: 2rem;
  border: 2px solid;
  border-radius: 16px;
  width: 100%;
  max-width: 640px;
  margin: 1rem auto;
  font-family: 'Orbitron', sans-serif;
}

.character-header {
  text-align: center;

  .character-name {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  .element-tag {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: #242424;
    padding: 0.3rem 0.8rem;
    border-radius: 999px;
    font-weight: bold;
    text-transform: uppercase;

    img {
      filter: invert(1);
      height: 20px;
      width: 20px;
    }
  }
}

.model-frame {
  height: 50vh;
}

.divider {
  height: 2px;
  margin: 0 0 1.5rem;
}

.character-stats {
  display: flex;
  justify-content: space-around;
  text-align: center;

  .stat {
    label {
      display: block;
      font-size: 0.9rem;
      opacity: 0.8;
    }

    span {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
